* {
  box-sizing: border-box;
}

:root {
  --native-dark-font-color: white;
  --native-light-font-color: black;
  --native-dark-transparent-color: #1c1c22;
  --native-dark-bg-color: #1c1c22;
  --native-dark-box-shadow: #111;
  --native-dark-border-color: #e68369;
  --accent-color: #e68369;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,label {
  font-family: 'Urbanist', sans-serif;
}

p {
  font-family: 'Geist Sans', sans-serif;
}
